*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
}

.container{
    position: relative;
    width: 100%;
    padding: 40px;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* all the different screens below */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
}

#Start-Screen h1{
    color: #2596be;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#Start-Screen button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background: #BA2D0B;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#Start-Screen button:hover{
    background: #e63946;
    transform: scale(1.1);
}

.quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}   

#question-text{
    color: burlywood;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz.info{
    display: flex;
    justify-content: space-between;
    color:deepskyblue;
    margin-bottom: 10px;
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}