*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
}

.container{
    position: relative;
    width: 100%;
    padding: 40px;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* all the different screens below */
.Screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.Screen.Active{
    display: block;
}

#Start-Screen h1{
    color: #2596be;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#Start-Screen p{
    margin-bottom: 30px;
    font-size: 1.2rem;
    line-height: 1.5;
}

#Start-Screen button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background: #2596be;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#Start-Screen button:hover{
    background: #e63946;
    transform: scale(1.1);
}

.Quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}   

#question-text{
    color: burlywood;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.Quiz.info{
    display: flex;
    justify-content: space-between;
    color:deepskyblue;
    margin-bottom: 10px;
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.answer-button{
    background-color: darkgrey;
    color: #333;
    border: 2px solid #eadbc8;
    padding: 1rem;
    border-radius: 10px;
    cursor:pointer;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.answer-button:hover{
    background-color: #2596be;
    color: #fff;
    border-color: #4CAF50;
}

.answer-button.correct{
    background-color: #4CAF50;
    color: #fff;
    border-color: #2596be;
}

.answer-button.incorrect{
    background-color: #f44336;
    color: #fff;
    border-color: #BA2D0B;
}

.progress-bar{
    position: absolute;
    height: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow:hidden;
    margin-top: 20px;
    animation: progressAnimation 15s linear forwards;
}

.progress{
    height: 100%;
    width: 0;
    background-color: #83250b;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}

#result-screen h1{
    color: #cf3c94;
    margin-bottom: 20px;
}

.result-info{
    margin-bottom: 30px;
    padding: 20px;
    background-color: #eadbc8;
    border-radius: 10px;
}

.result-info p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}

#result-message{
    font-size: 1.5rem;
    font-weight: bold;
    color: #2596be;
}

button{
    background-color: #2596be;
    color: white;
    border:none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
}

button:hover{
    background-color: #0bb4ba;
}

@media (max-width:500px) {
    .screen {padding: 1rem;}
    #start-screen h1 {
    font-size: 2rem;}
    #question-text {font-size: 1.3rem;}
    .answer-btn {
    padding: 12px;}
    button {
    padding: 12px 25px;
    font-size: 1rem;}
}